/*main*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container-main {
    width: 100%;
    color: white;
}

.container-main .content{
    width: 80%;
    margin: 0 auto;
}

.content h1 {
    font-size: 200px;
    padding: 10px;
}

.content p {
    font-size: 30px; 
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

/*recipes*/

.container-recipes {
    width: 100%;
    background: wheat;
}

.card-container {
    margin: 0 auto;
    width: 95%;
}

.card {
    width: 25%;
    background-color: #e6d6d6;
    border-radius: 8px;
    overflow: hidden;
    margin: 50px;
    display: inline-block;
    position: relative;
    left: 70px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.459);   
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
    margin: 0 auto;
    width: 80%;
}

.card-content h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.5;
}

.card-content .btn {
    display: inline-block;
    font-size: 20px;
    padding: 6px 30px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: whitesmoke;
    margin-bottom: 16px;
}